body {
  margin: 0;
  padding: 0;
  font-family: 'K2D', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  justify-content: center;
  background: #17151b;
}
.ContainerGENERAL {
  width: 325px;
  height: 420px;
  display: grid;
  justify-content: center;
  background: #16141a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 300px -50px;
}

.ContainerFOOTER {
  width: 250px;
  display: grid;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

.ContainerMEDIA {
  display: flex;
  justify-content: space-around;
  height: 50px;

}

.ContainerMEDIA-SocialMedia {
  color: #45434d;
  font-size: 30px;
}

.ContainerMEDIA-SocialMedia:hover {
  color: #ffffff;
}

.ContainerMEDIA-SocialMedia:active {
  color: #1f1e23;
}

.ContainerTEXT {
  display: flex;
}

.ContainerTEXT-text {
  color: #ffffff;
  padding: 0 10px;
}

.ContainerTEXT-VenezuelaIcon {
  height: 25px;
}


/*0414 0608921*/